/*Game Cards*/

/*        RESET        */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*        VARIABLES        */
:root {

    --secondary-color: #faebd7;
    --tertiary-color: red;
    --font-family: Arial, sans-serif;
}

/*        GENERAL STYLES        */

body {
    font-family: var(--font-family);
}

h1, h2 {
    color: var(--tertiary-color);
    text-shadow: 1px 0 2px #000000;
}

/*        HEADER        */
.header {
    height: 45px;
    background-color: black;
    padding: 0 40px;
    margin-bottom: 20px;
    text-align: center;
}


/*        BODY        */

/* ASIDE */


.cards {
    padding: 4px;
    width: 100%;
    background-color: var(--primary-color);
    box-shadow: 1px 1px 2px #bbbbbb;
    cursor: pointer;
}

.item {
    background-color: var(--primary-color);
    color: black;
    padding: 4px;
    margin: 0;
    width: 100%;
    box-shadow: 1px 1px 2px #bbbbbb;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
}

/* MAIN */
.content {
    display: grid;
    grid-template-columns: 72vw;
    margin: 0 auto;
    height: 100%;
    background-color: var(--secondary-color);
    border-radius: 5px;
    justify-content: center;
    background-color: green;
}

.category__title {
    text-align: center;
    margin: 10px;
    font-size: 7vh;
}

.category {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    height: 100%;
    justify-items: center;
    row-gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 10px solid var(--tertiary-color);
    border-radius: 5px;
    width: 250px;
    height: 350px;
    padding: 10px;
}


.card__title {
    font-size: 5vh;
}



.card1 {
    border: 10px solid rgb(0, 0, 0);
    border-radius: 5px;
    width: 250px;
    height: 350px;
}

.ygo__img {
    height: 100%;
    width: 100%;
}

.card1:hover{
    transform: scale(1.09);
}

/*        MEDIA QUERIES        */

/* TABLET */
@media (max-width: 768px) {
    .category {
        grid-template-columns: 1fr 1fr;
    }
    .item {
        padding: 4px;
    }
}

/* MOBILE */
@media (max-width: 480px) {

    .header {
        width: 100%;
        padding: 0 10px;
    }
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 20px;
        margin-bottom: 90px;
    }
    .aside {
        height: fit-content;
        position: fixed;
        bottom: 0;
        width: 80%;
        margin: 0 10%;
        
    }
    .content {
        width: 90%;
        justify-content: center;
        overflow: auto;
    }
    .category {
        grid-template-columns: 100%;
    }
}

/*Notes*/

.notes{
    background-color: #bbbbbb;
}

.principal_up{
    text-align: center;
}

.notes_title{
    color: #000000;
}

.container_notes{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    text-align: center;
    justify-content: center;
    margin: 10px ;
    border: 2px solid    #000000;
    height: 100vh;
}

/**/

body {
    height: 98vh;
}


.all {
    width: 100%;
    height: 100%;
    border: 0;
}