* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    display: grid;
    grid-template-columns: 7% 93%;
    height: 100vh;
}

.apps {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: static;
    padding: 7px 0;

}


.btn {
    width: 100px;
    height: 100px;
    text-align: center;
}

.app {
    width: 50px;
    height: 50px;
    margin-top: 20px;
}

.app_display {
    width: 100%;
    background-image: url(../fondo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: scroll;
}

input {
    display: none;
}

.map {
    display: none;
}

.port {
    display: none;
}

.weather {
    display: none;
}


#item1:checked + .label{
        color: green;
    }

#item2:checked + .label{
        color: green;
    }


#item3:checked + .label{
        color: green;
    }

#item3:checked ~ .clima {
    display: block;
}

.item {
    width: 80%;
    height: 80%;
    margin: 15px auto;
}

.content:has(#item1:checked) {
    .map {
    display: block;
}
}

.content:has(#item2:checked) {
    .port {
        display: block;
    }
}

.content:has(#item3:checked) {
    .weather {
        display: block;
    }
}